*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
.top-header{
    display: flex;
    justify-content: space-between;
    padding: 26px 50px;
    /*box-shadow: 0 10px 10px #f2f6fa;*/
}
.logo{
    font-size: 40px;
    color: #2467c4;
    font-weight: 1000;
}
.header-menu{
    display: flex;
}
.header-menu__navigation{
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 40px;
}
.header-menu__navigation-button{
    margin-left: 50px;
}
.header-menu__navigation-button:first-child{
    margin-left: 0;
}
.header-menu__navigation-button-text{
    font-size: 15px;
    color: #8899a9;
    font-weight: 500;
}
.header-menu__navigation-button-text_active{
    color: #192229;
    position: relative;
}
.header-menu__navigation-button-text_active:after{
    content: '';
    position: absolute;
    height: 4px;
    width: 70px;
    background:url("../img/header-menu__decoration-line.svg");
    background-size: contain;
    background-repeat: no-repeat;
    bottom: -39px;
    left: calc(50% - 35px);
}
.header-menu__navigation-button-text:hover{
    color: #192229;
}
.user-controls{
    display: flex;
    align-items: center;
}
.user-controls__info{
    position: relative;
}
.user-controls__info:after{
    content: '';
    position: absolute;
    right: -20px;
    top: 20px;
    height: 10px;
    width: 10px;
    background: url("../img/arrowdown.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
.user-controls__avatar{
    height: 46px;
    width: 46px;
    border-radius: 50%;
    overflow: hidden;
}
.user-controls__avatar-image{
    width: 100%;
}
.user-controls__notification-image{
    font-size: 32px;
    color: #192229;
    position: relative;
}
.user-controls__notification-amount{
    position: absolute;
    font-size: 9px;
    color: white;
    right: -11px;
    top: -4px;
    background-color: #f57171;
    padding: 3px 6px;
    border-radius: 5px
}
.user-controls__avatar-container{
    position: relative;
    margin-left: 40px;
}
.user-controls__avatar-container:before{
    content: '';
    position: absolute;
    background-image: url('../img/avatar-circle.svg');
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    background-size: contain;
    top: -2px;
    left: -2px;
}
.main-container{
    padding-left: 66px;
    padding-top: 47px;
    background-color: #fbfcfd;
    display: flex;
}
.side-bar{
    background-color: white;
    padding: 50px 35px;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
}
.side-bar__main-menu-button{
    border-radius: 5px;
    color: white;
}
.side-bar__start-activity-button{
    font-size: 15px;
    background-color: #192229;
    padding: 18px 74px 18px 61px;
}
.side-bar__start-activity-button-text{
    padding-left: 12px;
}
.side-bar__pay-button{
    margin-top: 16px;
    background-color: #0986ff;
    text-align: center;
    padding: 15px 0;
}
.side-bar__pay-button-usual-price{
    text-decoration: line-through;
    font-size: 13px;
}
.side-bar__pay-button-special-offer{
    font-size: 18px;
}
.side-bar__pay-button-time{
    font-size: 12px;
}
.side-bar__account-info-container{
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}
.side-bar__account-info{
    font-size: 24px;
}
.side-bar__account-info-text{
    color: #8899a9;
    text-transform: uppercase;
    font-size: 9px;
    display: block;
    text-align: center;
    font-weight: 400;
}
.side-bar__account-info-amount{
    padding-top: 25px;
    display: block;
    color: #192229;
    font-weight: 500;
    text-align: center;
}
.side-bar__account-info-amount{
    font-size: 16px;
    color: #0885fe;
    display: table-cell;
    vertical-align: middle;
}
.side-bar__account-info-amount-upper:before{
    content: '<i class="fas fa-arrow-up"></i>';
}
/*
color="#f2f6fa"
color="#b4c2d3"
color="#192229"
color="#fbfcfd"
color="#0986ff"
color="#0885fe"








*/